<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-webapp"/>
        <listEntry value="archetypeVersion=1.0"/>
        <listEntry value="groupId=com.notetaker"/>
        <listEntry value="artifactId=01_Notetaker"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.notetaker"/>
        <listEntry value="outputDirectory=D:\Educational\Java\01_Java_Nikhil_Patil\03_Frameworks\00_Projects\01_Project-Hibernate"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\nrpat\AppData\Local\Temp\m2e-archetypeGenerator4832560187428464424"/>
</launchConfiguration>
